<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
</head>

<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h2>Services we provide.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, eveniet sed necessitatibus non
            officiis veritatis iure neque quidem incidunt voluptatum cum nam mollitia maxime sint voluptatibus dolores
            fugiat eos quis autem dolorum alias ex? Facere perferendis consequuntur, quod maiores, nemo quos ducimus
            sequi
            reprehenderit, consectetur magnam numquam fuga enim! Quibusdam.</p>
        <button>Contact Us</button>
    </div>
</body>

</html>